

{% load widget_tweaks %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
      <script src="{% static 'ether/js/jquery-3.1.1.min.js' %}"></script>

    <link rel="stylesheet" href="{% static "core/css/register-mountain.css" %}">
    <link rel="stylesheet" href="{% static "core/css/alerts.css" %}">
</head>
<body>
  {% if alert %}
  {% include 'includes/warning.html' %}
  {% endif %}
<div class='logo'>Ether</div>
<div class="wrapper">

<div class="inputWrapper">
   <div class="registerheader">
   <span>Forgot Password?</span>
</div>
<form method="post">
{% csrf_token %}

<div class="inputContainer">
<i class="fa fa-envelope icon"> </i>
{{ form.email|default_if_none:"Email"|add_class:'Field' }}
</div>

<div classs="inputBtnContainer" onclick="this.form.submit();">
   <button class="createAccountBtn"><span class="penone">Submit</span></button>
</div>
<a class='inputAccountContainer' href="/"><span >Login</span></a>
</form>
</div>
</div>
</body>
<script type="text/javascript" >
    $(document).ready(function(){
        $("#id_email").attr('placeholder', 'Email');
    });
</script>
</html>
