.show {
  z-index: 2001;
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(33,33,33,.2); 
  width:275px;
  border-radius:5px;
  padding: 2px 0;
  display: block;
  margin: 0;
  list-style-type: none;
  list-style: none;

}
#rmenu{
  
}
#rmenufolder{
}
.hide {
  opacity: 0;
  display: none;
}
.show{
  opacity: 1;
}
.show li {
  list-style: none;
}
.show ul{
    padding: 0 0;
}

.show a {

  border: 0 !important;
  height:40px;
  padding:0 0;
  text-decoration: none;
  display:flex;
  align-items:center;
  justify-content:start;
  font-size:1em;
  color:rgba(0,0,0,.8);
  font-family:arial;
}

.show a:hover {
    background-color:rgba(0,0,0,.2);
}
.cm-icon-wrapper{
    height:20px;
    width:10px;
    margin-left:1.625rem;
    margin-right:2rem;
}

.folderhr{
    border: 0;
  clear:both;
  display:block;
  width: 100%;
  background-color:rgba(0,0,0,.2);
  margin-top:.4rem;
  margin-bottom:.4rem;
  height: 1px;
}
.fileupload-wrapper{
  position: absolute;
}
