
    #thevideoplayer{
                         position: fixed;

  margin-top: -50px;
  margin-left: -100px;
    display: none;
 
    -webkit-box-shadow: 0 0 10px #fff;
    box-shadow: 0 0 10px #ccc;
    border:1px solid rgba(0,0,0,.2);
    flex-direction: column;
    left:50%;
    top:50%;
    background-color:#fff;
    z-index:5002;
    }
    .videopopup{
            z-index:5002;
                         position: fixed;

      top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
    display: none;
 
    -webkit-box-shadow: 0 0 10px #fff;
    box-shadow: 0 0 10px #ccc;
    border:1px solid rgba(0,0,0,.2);
    flex-direction: column;
    left:50%;
    top:50%;
    background-color:#fff;
    z-index:5002;
    }

   #video{
   	max-width:300px;
   	height:300px;
   	 object-fit: fill;
   	 border-top-left-radius:5px;
   	 border-top-right-radius:5px;
   }


   .filecontent > #video {
    display: inline-block;
    border:1px solid red;
    margin:0;
    padding:0;    
}