{% extends 'html/base.html' %}


{% load static %}
{% block link %}
<link rel="stylesheet" href="{% static "ether/css/folders.css" %}">
<link rel="stylesheet" href="{% static "ether/css/qafilecontainer.css" %}">
<link rel="stylesheet" href="{% static "ether/css/flexboxgrid.css" %}">
<link rel="stylesheet" href="{% static "ether/css/fileupload.css" %}">
<link rel="stylesheet" href="{% static "ether/css/movetopopupstyle.css" %}">

    

  


{% endblock %}
{% block javascript %}

<script src="{% static 'ether/js/bbase.js' %}"></script>
<script src="{% static 'ether/js/movetopopup.js' %}"></script>



{% endblock %}
{% block content %}
<style>
	#passwordresetwrapper{
		display:flex;
		justify-content: center;
		align-items: center;
		height:100%;
		width:100%;
	}
	.passwordchangeform{
		display:flex;
		flex-direction: column;
	}
	.helptext{
		display:none;
	}
	form{
		display:flex;
		min-width:300px;
		flex-direction: column;
	}
	#id_new_password2{
		margin-bottom:20px;
		margin-top:10px;
	}

	#id_new_password1{
		margin-top:10px;

	}

	#id_old_password{
		margin-top:10px;
	}
	#pwformwrapper{
		position: relative;
		display:flex;
		justify-content: center;
		align-items: center;
		height:500px;
		width:500px;
		border:1px solid #CDCDCD;
		min-width: 400px;
	}
	#passwordheader{
		position: absolute;
		left:20;
		top:20;
	}
	.errorlist{
		display: none;
	}
	#updatepw{
		height: 40px;
		background: blue;
		border-radius: 5px;
		border:0;
		color:white;
	}
	.pwchangeinput{
		padding:5px;
	}
	#passwordheader{
		position: absolute;
		left:15;
		top:20;
	}

	#passwordheaderspan{
		margin-left:10px;
	}
	
	label{
		margin-top:10px;
	}
</style>
<div id="passwordresetwrapper">


<div id="pwformwrapper">
<div id="passwordheader"><a href="/users/account/"><span><i class="fas fa-chevron-left"></i></span></a><span id="passwordheaderspan">Password Update</span></div>
<form method="post">
  {% csrf_token %}
    <label for="#id_old_password">Old Password</label>

  {{ form.old_password|default_if_none:"Old password"|add_class:'pwchangeinput' }}
    <label for="#id_new_password1">New Password</label>

  {{ form.new_password1|default_if_none:"New password"|add_class:'pwchangeinput'  }}
    <label for="#id_new_password2">Confirm Password</label>

  {{ form.new_password2|default_if_none:"Confirm password"|add_class:'pwchangeinput'  }}
  <button id="updatepw" type="submit">Save changes</button>
</form>
</div>
</div>
{% endblock %}

{% include 'includes/fileupload/fileupload.html' %}      

 {% include 'includes/filecontextfolder.html' %}

{% block js %}

<script src="{% static "ether/js/bbase.js" %}"></script>
<script src="{% static "ether/js/fileupload.js" %}"></script>
<script src="{% static "ether/js/fileupload.js" %}"></script>
<script src="{% static "ether/js/movetopopup.js" %}"></script>
<script src="{% static "ether/js/showimages.js" %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{% static "core/js/browsercheckpw.js" %}"></script>

{% endblock %}
  
