<div class="hide" id="rmenutablefolder">
  <ul>


    <li>
      <a href="#">
          <div class="cm-icon-wrapper">
            <i id="arrows" class="fas fa-arrows-alt"></i>
          </div>
          Open with</a>
    </li>

    <div class="folderhr"></div>
    <li>
      <a href="#" id="sharefolder">
          <div class="cm-icon-wrapper">
            <i  class="fas fa-share-square"></i>
          </div>
          Share</a>
    </li>

    <li>
      <a href="#">
          <div class="cm-icon-wrapper">
            <i id="link" class="fas fa-link"></i>
          </div>
          Get shareable link</a>
    </li>

    <li>
      <a href="#">
          <div class="cm-icon-wrapper">
            <i id="folderplus" class="fas fa-search"></i>
          </div>
          Search</a>
    </li>

    <li>
      <a href="#" id="movetofolder">
          <div class="cm-icon-wrapper">
            <i id="folderplus" class="far fa-folder"></i>
          </div>
          Move to</a>
    </li>

    <li id="starredfolder">
      <a id="removestarfolder" href="#">
          <div class="cm-icon-wrapper">
            <i id="link" class="far fa-star"></i>
          </div>
          Remove starred</a>
    </li>



    <li>
      <a href="#" id="renamefolderstartable">
          <div class="cm-icon-wrapper">
            <i id="link" class="fas fa-pencil-alt"></i>
          </div>
          Rename</a>
    </li>

    <div class="folderhr"></div>

    <li>
      <a href="#" id='copyfolder'>
          <div class="cm-icon-wrapper">
            <i id="link" class="far fa-copy"></i>
          </div>
          Make a copy</a>
    </li>

    <li>
      <a href="#">
          <div class="cm-icon-wrapper">
            <i id="link" class="far fa-hand-paper"></i>
          </div>
          Report abuse</a>
    </li>

    <li>
        <a id='downloadfolder' href="#">
          <div class="cm-icon-wrapper">
            <i id="link" class="fas fa-download"></i>
          </div>
          Download</a>
    </li>

    <div class="folderhr"></div>

    <li id='trashfolder'>
      <a id='addtotrashfolder' href="#">
          <div class="cm-icon-wrapper">
            <i id="link" class="fas fa-trash"></i>
          </div>
          Remove</a>
    </li>

  </ul>
</div>
