<div class="newfolder-wrapper" id='rename-popup'>
    <div class="newfolder-r">
        <h3 id="popup-title">Rename</h3>
        <i id="newfolder-close" class="fas fa-times" onClick="renameClose()"></i>
    </div>
    <div class="newfolder-r1">
        <form id='renameform' method='post' action='#'>
        <input id="renameinput" type="text" name="popup-input-q" class="newfolder-q blueglow">
        </form>
    </div>
    <div class="newfolder-r2">
        <a href="#" class="close-link" onClick="renameClose()"><div class="newfolder-cancel">CANCEL</div></a>
        <a href="#" id="renamesubmit" class="create-link"><div onclick="document.getElementById('renameform').submit();" class="newfolder-create">OK</div></a>
    </div>
</div>