 <div id="user-info-p" class="userinfo-wrapper" onclick="userinfoclick(event)">
         <div class="userinfo-header">
             <div class="user-logo">
                 <span>{{firstinitial}}</span>
             </div>
             <div class="user-details">
                 <div class="detailsflex">
                    <span class="username">{{name}}</span>
                    <span class="email">{{email}}</span>
                    <span class="privacy"><a class="privacy-link">Privacy</a></span>
                    <a class="ether-account-link" href="/users/account/"><div class="ether-account">Ether Account</div></a>
                </div>
             </div>
         </div>
             <div class="userinfo-btn-wrapper">
                 <a class="add-link" href="#"><div class="add-account">Add Account</div></a>
                 <a class="signout-link" href="/users/logout/"><div class="signout">Sign out</div></a>
             </div>
     </div>