{% load static %}
<div id='fu' class='fileuploadwrapper'>
        <div class='fuheader'>
            <div class='futitle'>1 upload complete</div>
            <div class='fubuttons'>
                <div id='fudown' class="fuhover" onclick='fudown();'> 
                    <i id='down'  class="fas fa-angle-down fa-lg"></i>
                </div>
                <div id='futimes'class="fuhover" onclick='fuclose();'>
                    <i  class="fas fa-times fa-lg" ></i>
                </div>

            </div>
        </div>

        <div id='fupro' class='fuprogresswrapper'>
            <div cass='futime'>
                <span id='futimer'>1 minute remaing</span>
            </div>
            <div id="uploadstop" class='fuuploadcancel'>CANCEL</div>
        </div>
        <div id='mbody'>
      

        </div>
    </div>
